/*Navigation*/
.nav {
	margin:0;
	padding:0;
  margin-top: 3%;
  margin-left: 14%;
}
.nav .nav-link  {
	display:inline;
	padding:2%;
	margin:0;
  text-decoration: none;
}
a:link {
    color: #551a8b;
    text-decoration: none;


}
a:visited {
        text-decoration: none;
color: #551a8b;

}
a:hover {
text-decoration: underline;
color: #551a8b;

}
/*Social Icons*/
section{
 padding: 0;
 text-align: left;
}
h1, h3 {
  color:rgba(255, 255, 255, 0.23);
  text-transform: uppercase;
}
h1 {
  font-size:3em;
}

a {
 color:#ddd
}

/*IGNORE ALL THE ABOVE*/

.icons {
  text-align: right;
  padding-top:0;
}

.icons li {
  display:inline-block;
  margin: 0 4px;
}
.icons i  {
    font-size: 24px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    width: 64px;
    border-radius: 100%;
    color: #551a8b;
    /*box-shadow: inset 0 0 0 1px #551a8b;*/
    position: relative;
    cursor: crosshair;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.icons i:hover, .icons i:focus {
  color: #fff;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.8);
  -moz-transform: rotate(5deg) scale(1.1);
    -ms-transform: rotate(5deg) scale(1.1);
    -webkit-transform: rotate(5deg) scale(1.1);
    transform: rotate(5deg) scale(1.1);
  /*fallback*/
  background-image: -webkit-linear-gradient(left, #2caab3 0%, #2c8cb3 100%);
  background-image: -moz-linear-gradient(left, #2caab3 0%, #2c8cb3 100%);
  background-image: -o-linear-gradient(left, #2caab3 0%, #2c8cb3 100%);
  background-image: linear-gradient(to right, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.icons .fa-twitter:hover, .icons .fa-twitter:focus {
  background-image: -webkit-linear-gradient(left, #2caab3 0%, #2c8cb3 100%);
  background-image: -moz-linear-gradient(left, #2caab3 0%, #2c8cb3 100%);
  background-image: -o-linear-gradient(left, #2caab3 0%, #2c8cb3 100%);
  background-image: linear-gradient(to right, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}

.icons .fa-facebook:hover, .icons .fa-facebook:focus {
  background-image: -webkit-linear-gradient(left, #6F5AC3  0%, #34495e 100%);
  background-image: -moz-linear-gradient(left, #6F5AC3  0%, #34495e 100%);
  background-image: -o-linear-gradient(left, #6F5AC3  0%, #34495e 100%);
  background-image: linear-gradient(to right, #6F5AC3  0%, #34495e 100%);
  background-image: -webkit-linear-gradient(90deg, #6F5AC3  0%, #34495e 100%);
  background-image: -ms-linear-gradient(90deg, #6F5AC3  0%, #34495e 100%);
}
.icons .fa-youtube:hover, .icons .fa-youtube:focus {
  background-image: -webkit-linear-gradient(left, #FF0684 0%, #34495e 100%);
  background-image: -moz-linear-gradient(left, #FF0684 0%, #e74c3c 100%);
  background-image: -o-linear-gradient(left, #FF0684  0%, #e74c3c 100%);
  background-image: linear-gradient(to right, #FF0684  0%, #e74c3c 100%);
  background-image: -webkit-linear-gradient(90deg, #FF0684 0%, #e74c3c  100%);
  background-image: -ms-linear-gradient(90deg, #FF0684 0%, #e74c3c 100%);

}
